:root {
    --color-p: #676767;
    --color-h: #2E2E2E;
    --color-grey: #F2F2F2;
    --color-salmon: #F55556;
    --color-white: #fff;
    --color-secondary-background: #FEF5F5;
}

/*zerar css */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    font-family: 'Poppins', sans-serif;
    ;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
}

hr {
    opacity: 0.5;
    margin: 0 10rem;
}

p {
    color: var(--color-p);
    font-size: 2.4rem;
    font-weight: 400;
    line-height: 4rem;
    letter-spacing: 0em;
}

h1 {
    font-size: 9.9rem;
    font-weight: 700;
    line-height: 11rem;
    letter-spacing: -0.05em;
    color: var(--color-h);

}

h2 {
    color: var(--color-h);
    font-size: 5.3rem;
    font-weight: 700;
    line-height: 7.2rem;
    margin-top: 1rem;
}

h3 {
    text-align: center;
    font-size: 3rem;
    color: var(--color-h);
}

h4 {
    font-weight: 500;
    font-size: 2.4rem;
}

.section {
    min-height: 100vh;
    padding: 10rem;
}

.secondary-background {
    background-color: var(--color-secondary-background);
}

.position-relative {
    position: relative;
}

.padding {
    padding: 5rem 5rem;
}

/*

///////////////////////////////////////////////////////////////////////////////

Nav-Bar

///////////////////////////////////////////////////////////////////////////////

*/

.hamburguer-menu {
    position: absolute;
    top: 1rem;
    font-size: 5rem;
    color: var(--color-salmon);
    display: none;
    right: 4rem;
    z-index: 10;
}

.logo-icon {
    position: absolute;
    top: 2.3rem;
    left: 5rem;
    display: none;
}

.logo {
    display: block;
}

#toogle {
    display: none;
}

.menu {
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 15rem;
    padding: 5rem 13rem;
    background-color: var(--color-white);
    z-index: 1;
}

.menu ul {
    position: relative;
    top: 0.9rem;
    display: flex;
    gap: 5rem;
}

.menu ul li a {
    display: block;
    position: relative;
    font-size: 2.1rem;
    padding-bottom: 1.7rem;
    font-weight: 500;
}

.menu ul li a:after {
    content: '';
    position: absolute;
    bottom: 1rem;
    left: 0;
    width: 0;
    height: 0.2rem;
    background-color: var(--color-salmon);
}

.menu ul li a:hover {
    color: var(--color-salmon);
}

.menu ul li a:hover::after {
    width: 100%;
    transition: all 300ms ease-out;
}

.menu-search {
    width: 40rem;
    height: 5rem;
    display: flex;
    justify-content: center;
    gap: 1.5rem;
    align-items: center;
    border-radius: 10rem;
}

.menu-search input {
    border: none;
    height: 4rem;
    font-size: 1.8rem;
    color: #232323;
    box-shadow: 0px 2.6rem 6.6rem rgba(0, 0, 0, 0.04);
    border-right: 0.2rem solid #F2F2F2;
}
::placeholder{
    color: #232323;
}
.menu-search input:focus::placeholder {
    color: transparent;
}

.menu-search input:focus {
    font-family: 'Poppins', sans-serif;
    outline: 0;
}

.menu-cart-icon {
    position: relative;
    top: -0.2rem;
}

.menu-cart-items {
    position: relative;
    width: 3.7rem;
    height: 3.7rem;
    right: 1rem;
    top: -3rem;
    background: #F54B4B;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--color-white);
    font-size: 1.8rem;
}


/*

///////////////////////////////////////////////////////////////////////////////

Flex Template 

///////////////////////////////////////////////////////////////////////////////

*/

.flex-template {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    gap: 20rem;
    min-height: 100vh;
}

.flex-template-b {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    gap: 15rem;
    min-height: 100vh;
}

.flex-template-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.flex-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 70rem;
}

.box-p {
    margin-top: 2.9rem;
    margin-bottom: 6rem;
    max-width: 63rem;
    width: 100%;
}

.img-max {
    max-height: 100%;
    max-width: 100%;
}

/*

///////////////////////////////////////////////////////////////////////////////

Buttons-Template

///////////////////////////////////////////////////////////////////////////////

*/

.buttons-area {
    margin-top: 2rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 4rem;
    height: 15rem;
    width: 100%;
}

.button-template {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    max-width: 28rem;
    width: 100%;
    height: 10rem;
    border: 0.2rem solid #EEDCDC;
    border-radius: 1.6rem;
    cursor: pointer;
}

.button-template:hover {
    border: 0.2rem solid var(--color-h);
}

.button-template-plus {
    width: 4.8rem;
    height: 4.8rem;
    background-color: var(--color-salmon);
    box-shadow: 0px 21.3333px 40px rgba(245, 71, 72, 0.15);
    border-radius: 10.6667px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}



.button-template-plus:hover {
    border: 0.2rem solid var(--color-h);
}

.button-template-salmon {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 28rem;
    height: 10rem;
    border-radius: 1.6rem;
    background: #F86061;
    cursor: pointer;
}

.button-template-salmon:hover {
    border: 0.3rem solid var(--color-h);
}

/*

///////////////////////////////////////////////////////////////////////////////

Button More Than Faster

///////////////////////////////////////////////////////////////////////////////

*/

.button-more-than-faster {
    width: 28rem;
    height: 6.1rem;
    background: #FDECEC;
    border-radius: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 2rem;
    cursor: pointer;
}

.button-more-than-faster p {
    font-size: 2.1rem;
    color: #F55556;
}

.button-more-than-faster p:hover {
    color: var(--color-p);
}

.button-more-than-faster img {
    position: relative;
    top: 0.6rem
}

/*

///////////////////////////////////////////////////////////////////////////////

Button Order Process

///////////////////////////////////////////////////////////////////////////////

*/

.button-order-process {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    height: 10rem;
    cursor: pointer;
}

/*

///////////////////////////////////////////////////////////////////////////////

Section - Home

///////////////////////////////////////////////////////////////////////////////

*/

.float-box-position {
    position: absolute;
    top: 0;
    width: 100%;
    height: 65rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.product-box-small {
    position: relative;
    top: -5rem;
    left: -18rem;
    width: 24rem;
    height: 31rem;
    background-color: var(--color-white);
    box-shadow: 0 6.6rem 10rem rgba(0, 0, 0, 0.08);
    border-radius: 1.6rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.button-cart {
    position: absolute;
    bottom: -3rem;
    width: 6.4rem;
    height: 6.4rem;
    background: linear-gradient(180deg, #FF7071 0%, #E73D3E 100%);
    box-shadow: 0 -0.8rem 5.3rem rgba(235, 69, 70, 0.2);
    border-radius: 1.3rem;
    display: flex;
    align-items: center;
    justify-items: content;
    cursor: pointer;
}

.product-box-small-info {
    position: absolute;
    top: 15rem;
    height: 15rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.small-info-line {
    height: 0.2rem;
    width: 2.6rem;
    border-radius: 0.13rem;
    background-color: #FFA610;
    margin-bottom: 1.5rem;
    margin-top: 1rem;
}

.button-cart img {
    position: relative;
    top: 1rem;
}

.product-box-small h3 {
    font-size: 1.6rem;
    font-weight: 600;
    text-align: center;
}

.product-box-small h4 {
    font-size: 2.9rem;
    font-weight: 700;
    text-align: center;
}

.product-box-small p {
    position: relative;
    top: -1.5rem;
    font-size: 1.3rem;
    font-weight: 500;
    text-align: center;
    color: #A5A5A5;

}

.box-delivery {
    position: relative;
    top: -15rem;
    width: 21rem;
    height: 9.8rem;
    background: var(--color-white);
    box-shadow: 0 5.3rem 9.3rem -1.3rem rgba(0, 0, 0, 0.08);
    border-radius: 1.6rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
    z-index: -1;
}

.box-delivery-info {
    margin: auto;
}

.box-delivery h4 {
    position: relative;
    font-weight: 600;
    font-size: 2.1rem;
    color: #404040;
    top: 0.8rem;
}

.box-delivery p {
    position: relative;
    top: -0.3rem;
    font-size: 1.6rem;
    font-weight: 500;
    text-align: left;

}

.arrow-abstract {
    position: absolute;
    right: 0;
    transform: rotate(5deg);
    z-index: -2;
}

/*

///////////////////////////////////////////////////////////////////////////////

Section - What We Serve 

///////////////////////////////////////////////////////////////////////////////

*/

.flex-template-column h2 {
    text-align: center;
}

.items-what-we-serve {
    position: relative;
    min-height: 70rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    gap: 6.5rem;
    z-index: 10;
}

.grid-what-we-serve {
    position: relative;
    height: 41rem;
    max-width: 40rem;
    width: 100%;
    border-radius: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-items: center;
    justify-content: center;
    background-color: var(--color-white);
}

.grid-what-we-serve:nth-child(2)::before {
    content: "";
    position: absolute;
    top: 2rem;
    left: 3rem;
    height: 41rem;
    width: 40rem;
    background-color: #FE6A6A;
    transform: rotate(-3deg);
    border-radius: 1.5rem;
    z-index: -1;
}

.grid-what-we-serve-img {
    display: flex;
    flex-direction: row;
    height: 15rem;
    justify-content: center;
}

.grid-what-we-serve p {
    text-align: center;
    font-size: 2rem;
    margin-top: 2rem;
}

/* 

///////////////////////////////////////////////////////////////////////////////

--- Product Box ---

///////////////////////////////////////////////////////////////////////////////

*/

.product-box-position {
    position: absolute;
    top: 0;
    min-height: 100%;
    min-width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.product-box {
    position: relative;
    height: 30rem;
    width: 22rem;
    background: var(--color-white);
    box-shadow: 0 5rem 13rem -3.3rem rgba(0, 0, 0, 0.12);
    border-radius: 1.6rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 2rem;
}

.background-img-salmon {
    width: 16rem;
    height: 11rem;
    background: #FEEBEB;
    border-radius: 1.6rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.box-bike-delivery h2 {
    font-weight: 700;
    font-size: 2rem;
    text-align: center;
    color: var(--color-h);
}

.box-bike-delivery p {
    font-weight: 400;
    font-size: 1.3rem;
    line-height: 2rem;
    text-align: center;
    color: var(--color-p);
}

.eclipse-icon {
    position: absolute;
    bottom: 0;
    left: 3rem;
}

/* 

///////////////////////////////////////////////////////////////////////////////

--- Product Box Medium ---

///////////////////////////////////////////////////////////////////////////////

*/

.product-box-medium {
    position: relative;
    top: 5rem;
    right: -7rem;
    height: 36rem;
    width: 27rem;
    background: #FFF;
    box-shadow: 0px 80px 133.333px -13.3333px rgba(86, 0, 0, 0.08);
    border-radius: 1.6rem;
    display: flex;
    flex-direction: column;
    padding: 2.5rem;
}

.product-box-medium h3 {
    font-size: 2.5rem;
    font-weight: 700;
    text-align: center;
}

.product-box-medium h5 {
    position: relative;
    font-size: 1.6rem;
    font-weight: 500;
    text-align: center;
    color: #A5A4A4;
}

.product-box-medium-img {
    position: relative;
    top: 2.5rem
}

.product-rate {
    position: relative;
    display: flex;
    justify-items: flex-start;
    align-items: center;
    gap: 0.5rem;
}

.product-price {
    display: flex;
    align-items: center;
    justify-items: center;
    justify-content: space-between;
    position: relative;
}

.product-price p {
    font-weight: 700;
    font-size: 3rem;
    color: #2E2E2E;
}

/*

///////////////////////////////////////////////////////////////////////////////

--- Footer Grid --- 

///////////////////////////////////////////////////////////////////////////////

*/

.footer {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    margin: 10rem 10rem;
}

.footer-grid-start {
    grid-column-start: 3;
}

.footer-tittle {
    font-size: 2.5rem;
    font-weight: 600;
    margin-bottom: 4rem;
}

.footer-list li {
    font-size: 2rem;
    font-weight: 400;
    line-height: 5rem;
    color: var(--color-p);
}

.footer-list p {
    text-align: left;
    font-size: 2rem;
    font-weight: 400;
    line-height: 3.4rem;
}

.footer-flex {
    padding: 4rem 10rem;
    display: flex;
    justify-content: space-between;
    color: #8C8C8C;
    font-size: 2rem;
    flex-wrap: wrap;
}

.footer-all-rights p {
    font-size: 1.8rem;
    color: #8C8C8C;
}

.footer-terms-conditions {
    display: flex;
    gap: 3.5rem;
}

.footer-terms-conditions p {
    font-size: 1.8rem;
    color: #747474;
}

/*

///////////////////////////////////////////////////////////////////////////////

--- Adjust Screen --- 

///////////////////////////////////////////////////////////////////////////////

*/

@media screen and (max-width: 1080px) {

    p {
        text-align: center;
    }

    h1 {
        text-align: center;
        font-size: 4rem;
        line-height: 6rem;
    }

    h2 {
        text-align: center;
        font-size: 3.5rem;
        line-height: 6rem;
    }

    h3 {
        text-align: center;
        font-size: 2rem;
    }

    h4 {
        text-align: center;
        font-size: 2.5rem;
    }

    .section {
        padding: 5rem;
    }


    .logo-icon {
        display: block;
    }

    .hamburguer-menu {
        display: block;
        cursor: pointer;
    }

    #toogle:checked+.menu {
        display: flex;
    }

    .menu {
        display: none;
        flex-direction: column;
        justify-content: space-around;
        height: 100vh;
        background-color: var(--color-white);
    }

    .menu ul {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .menu ul li a {
        font-size: 4rem;
    }

    .content {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: -1;
        text-align: center;
        width: 100%;
        color: #202020;
    }

    .content .title {
        font-size: 40px;
        font-weight: 700;
    }

    .content p {
        font-size: 35px;
        font-weight: 600;
    }


    .flex-template {
        flex-wrap: wrap;
        gap: 0;
    }

    .flex-template-b {
        flex-wrap: wrap;
        gap: 0;
    }

    .flex-content {
        align-items: center;
        margin-top: 6rem;
    }

    .buttons-area {
        justify-content: center;
        flex-wrap: wrap;
        gap: 1rem;
    }

    .button-template-salmon,
    .button-template {
        height: 7rem;
    }

    .float-box-position {
        position: relative;
        justify-content: center;
    }

    .box-delivery {
        top: 0;
        right: 0;
    }

    .product-box-small {
        top: 0;
        left: 0;
    }

    .button-order-process p {
        display: none;
    }

    .product-box-medium {
        top: 0;
        right: 0;
    }

    .product-box-position {
        position: relative;
        top: 0;
        right: 0;
        justify-content: center;
    }

    .arrow-abstract {
        right: 0;
    }

    .items-what-we-serve {
        margin-top: 10rem;
    }

    .grid-what-we-serve:nth-child(2)::before {
        display: none;
    }

    .footer {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        margin: 5rem;
        gap: 5rem
    }

    .footer-grid-start {
        grid-column-start: auto;
    }

    .footer-flex {
        padding: 5rem;
    }

    .back-to-top {
        position: fixed;
        bottom: 2.5rem;
        right: 2.5rem;
        color: var(--color-white);
        background: linear-gradient(180deg, #FF7071 0%, #E73D3E 100%);
        font-size: 3rem;
        padding: 0.8rem 1.2rem;
        cursor: pointer;
        border-radius: 1.6rem;
        z-index: 10;
    }

}